extends layout
block additional-head
	link(href="styles/index.css" rel="stylesheet")
	title Easy WOW
block content
	div.content-offcet
	div.content-container
		div.flex-container
			img.header-image(src="images/RG_1.jpg")
			img.header-image(src="images/RG_2.jpg")
	div.content-container
		div.main-block-container
			div.content-text В лучшем районе ежедневно в студии красоты EasyWOW трудятся над созданием неповторимых образов. Ультрамегавысококвалифицированные специалисты, салона красоты EasyWOW, предлагают огромный спектр услуг по уходу за лицом, телом и волосами.
			br
			div.content-text Парикмахеры-универсалы делают все виды услуг: окрашивание волос, женские и мужские стрижки, стрижки горячими ножницами, креативные стрижки, окрашивание любой сложности, ежедневные и долговременные укладки, торжественные причёски, химическая завивка наращивание волос Euro.So.Cap. и страз Swarovski, био-ламинирование волос, долговременное выпрямление, лечение волос, плетение косичек.
			br
			div.content-text Мастера ногтевого сервиса сделают вам маникюр (горячий и японский), педикюр (классический и аппаратный). В  студии красоты EasyWOW делают наращивание ногтей гелем и акрилом, роспись и дизайн ногтей, в том числе и аквариумный.
			br
			div.content-text В косметологическом кабинеты вы можете сделать чистку кожи, парафинотерапию рук и ног, спа-уход.
			br
			div.content-text Здесь вы также можете сделать:
				ul 
					li окраску бровей ресниц, корректировку бровей;
					li наращивание ресниц пучковое и в 3D объеме – натуральное поресничное;
					li антицеллюлитный и оздоровительный массаж;
					li массаж лица (микротоковый и ультразвуковой);
					li посетить вертикальный турбо солярий;
					li сделать депиляцию и бикини-дизайн, сахарную депиляцию (шугаринг);
					li процедуры по коррекции фигуры – обертывание;
					li пилинг: гликолевый и химический Renophase (Франция);
					li макияж;
					li татуирование хной;
					li прокалывание ушей и пирсинг. А так же здесь вы найдете огромный выбор сережек для ушей и пирсинга.
			br