extends layout
block additional-head
	link(href="styles/order.css" rel="stylesheet")
	script(src="/javascripts/sign_in_up.js")
	script(src="/javascripts/order.js")
	title Easy WOW - запись онлайн
block content
	div.content-offcet
	div.content-container
		div#request-container-outer
			div#request-container
				div.form-header Запись онлайн:
				br
				br
				label.request-labels Как в Вам обращаться (Имя/Фамилия):
				br
				div.input-container
					input#customer-name.request-input(type="text" value=(typeof user != "undefined" ? user.name : ''))
				br
				label.request-labels Телефон для связи:
				br
				div.input-container
					input#customer-contacts.request-input(type="text" value=(typeof user != "undefined" ? user.phoneNumber : ''))
				br
				label.request-labels Описание (что хотите сделать?):
				br
				div.input-container
					textarea#request-text(rows="10" cols="117")
				br
				br
				div#agreement
					input#agreement-checkbox(type="checkbox")
					div#agreement-text Отправляя запрос, я даю свое согласие на обработку моих персональных данных и 
						a#agreement-link(href="/agreement" target="-blank") принимаю условия
				label#error
				br
				div.button-group
					div#send-request-btn.green-button Отправить